body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  background-color: #000;
  color: #fff;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li.section-title {
  font-weight: bold;
  margin-top: 40px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.content {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}

header {
  background-color: #f1f1f1;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
}

#logo {
  font-size: 1.5rem;
  align-items: center;
}

#logo h2 {
  margin: 0;
  font-weight: 3rem;
  text-shadow:
      0 0 10px rgba(249, 248, 248, 0.5),
      /* Blanco con transparencia */
      0 0 20px rgba(255, 255, 255, 0.5),
      /* Blanco con transparencia */
      0 0 30px rgba(255, 255, 255, 0.5),
      /* Blanco con transparencia */
      0 0 40px #ff00de,
      /* Tono rosa */
      0 0 50px #ff00de,
      0 0 60px #ff00de,
      0 0 70px #ff00de;
}